.div_picture {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.linear_funnel {
    background: #ffffff;
    padding: 30px;
}

.img_donald_hebb {
    width: 35%;
}

.four {
    & div {
        margin: auto 20px;

        & img {
            width: 200px;
            height: 300px;
            object-fit: cover;
        }
    }
}

.rosenblatt {
    height: 450px;
}

.two {
    & img {
        width: 430px;
        height: 250px;
        margin: auto 20px;
    }
}